<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />



    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_home_for_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NhàTrọ"
        tools:targetApi="32">
        <activity
            android:name=".Activity.MainDetailedRoomActivity"
            android:exported="false"
            android:parentActivityName=".Activity.MainRoomActivity"/>
        <activity
            android:name=".Activity.MainRoomActivity"
            android:exported="false"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.Service.ServiceMainActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceManagenment.Managerment_ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".HomeManagement.AddHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SetNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ConfirmAccountForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <service-->
<!--            android:name=".firebase.MessagingService"-->
<!--            android:exported="false"-->
<!--            android:permission="TODO">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <service android:name=".alarmManager.AlarmService" />

        <receiver android:name=".alarmManager.AlarmReceiver" />


        <receiver
            android:name=".alarmManager.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--        <receiver android:name=".alarmManager.AlarmReceiver"-->
        <!--            android:exported="false"-->
        <!--            android:permission="TODO">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="edu.poly.nhtr.ACTION_NOTIFICATION_RECEIVED" />-->

        <!--            </intent-filter>-->
        <!--        </receiver>-->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:parentActivityName=".Activity.SplashActivity"
            />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VerifyOTPActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangeProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="ALARM_MANAGER_CHANNEL"
            />
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/icon_notification" />-->

        <meta-data
            android:name="com.google.android.gms.tagmanager.CONTAINER_ID"
            android:value="your_container_id" />


    </application>

</manifest>